src/main/resources/biohadoop-action-0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:biohadoop="uri:custom:biohadoop-action:0.1" elementFormDefault="qualified"
	targetNamespace="uri:custom:biohadoop-action:0.1">
	<xs:complexType name="BIOHADOOP">
		<xs:sequence>
			<xs:element name="name-node" type="xs:string"></xs:element>
			<xs:element name="config-file" type="xs:string" minOccurs="1"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="biohadoop" type="biohadoop:BIOHADOOP"></xs:element>
</xs:schema>